@import 'tailwindcss';

:root {
    --offset-x: 0;
    --offset-y: 0;
}

/*
Animation Timeline:

0ms                 150ms               300ms               450ms
|                   |                   |                   |
|===== Slide =======|                   |                   |
|== Merge Source ===|                   |                   |
|                   |== Merge Result ===|                   |
|                   |                   |===== Spawn =======|
*/

.tile-move-anim {
    animation: slide-tile 150ms ease-in-out;
}

@keyframes slide-tile {
    from {
        transform: translate(var(--offset-x), var(--offset-y));
    }
    to {
        transform: translate(0, 0);
    }
}

.tile-merge-source-anim {
    animation: tile-merge-source 150ms ease-in-out forwards;
}

@keyframes tile-merge-source {
    from {
        transform: translate(var(--offset-x), var(--offset-y)) scale(1);
    }
    to {
        transform: translate(0, 0) scale(0);
    }
}

.tile-merge-result-anim {
    animation: tile-merge-result 150ms ease-in-out 150ms forwards;
    transform: scale(0);
}

@keyframes tile-merge-result {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.tile-spawn-anim {
    animation: tile-spawn 150ms ease-in-out 300ms both;
}

@keyframes tile-spawn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
